<div class = "container jumbotron">
    <h2> User Login </h2>
    <div>
        <input class = "form-control"[(ngModel)]='username' type='text' placeholder='user name'>
    </div>
    <div>
        <input class = "form-control"[(ngModel)]='password' type='password' placeholder='password'>
    </div>
    
    <div>
    <button class="btn btn-primary form-control" type="submit" (click)='validateLoginCredentials()'>Login</button>
    </div>
    {{failureMessage}}
</div> 