<div class = "container jumbotorn">
    <h2> User Register</h2>
    <div>
        <input [(ngModel)]='username' type='text' placeholder='user name'>
    </div>
    <div>
        <input [(ngModel)]='password' type='password' placeholder='password'>
    </div>
    <div>
        <input [(ngModel)]='email' type='email' placeholder='email'>
    </div>

    <div>
        <button type='submit' (click)='registerUser()'> Register</button>
        <button type='reset' (click)='clearAll()'> Clear All </button>
    </div>
    {{Message}}
</div>

