<div class='container'>
    <ul class='nav nav-tabs'>
        <li class='active'> 
            <a data-toggle="tab" href="#register"> User Registration</a>
        </li>
        <li> 
            <a data-toggle="tab" href="#login"> User Login</a>
        </li>
    </ul>
    <div class = 'tab-content'>
        <div id="register" class = "tab-pane fade in active"> 
            <app-user-register></app-user-register>
        </div>
        
        <div id="login" class = "tab-pane fade"> 
                <app-user-login></app-user-login>
        </div>
        
    </div>
</div>